// Font Variables

$headline: 'Anton';
$headline-fb: sans-serif;
$body: 'Dosis';
$body-fb: sans-serif;

$headline-font-size: 75px;

@import url('https://fonts.googleapis.com/css?family=Anton|Dosis');
